*{	
	margin:0;
	padding:0;
	font-family:sens-serif;
}



.hero{
	height:100vh;
	background-image: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.6)),url(avatar.jpg);
	background-position: center;
	background-size:cover;
	overflow-x: hidden;
	position: relative;
}